---
layout: default
---
<!-- ./index.html -->

<div style="border-bottom: 1px solid rgba(0,0,0,0.15);">

      {% include header.html %}

</div>

<!-- post title -->
<div class="container-fluid p-0 m-0" id="starfield-wrapper">
  <div id="starfield-header">
    super <i class="fa fa-bolt" aria-hidden="true"></i> dan
  </div>
  <canvas id="starfield-canvas"></canvas>
</div>

<div class="container">
  <div class="row">
    <main class="col-sm-12">
      <hr>
      <div class="card-columns">
        {% for post in paginator.posts %}
        <div class="card d-inline-block">
          <a class="card-link" href="{{ post.url | relative_url}}"></a>
          {% if post.image %}
          <img class="card-img-top" src="{{ post.image | relative_url }}" aria-hidden="true">
          {% endif %}
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">{{ post.excerpt | strip_html | normalize_whitespace | truncate: 60 | escape }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              {{ post.date | date: "%b %-d" }}
              {%if post.read_time %} &middot; {% include read-time.html html=post.content %} {% endif %}
              {% if site.disqus_shortname and post.comments %}
              &middot; <a href="{{ post.url | absolute_url }}#disqus_thread">0 Comments</a>
              {% endif %}
            </small>
          </div>
        </div>
        {% endfor %}
      </div>
      {% include paginate.html %}
    </main>
  </div>
</div>

{% include subscribe.html %}

<div class="container">
  <div class="row justify-content-center">
    <section class="col-12 col-lg-8">
      {% include footer.html %}
    </section>
  </div>
</div>
