---
layout: default
---

<!-- /index.html -->

<header class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-3">
      <h1 class="text-hide">
        <a href="{{ "/" | absolute_url }}">
          <img src="{{ "/assets/images/logo-text-techno.svg" | relative_url }}" class="img-fluid" alt="..." style="width: 100% \9;">
        </a>
        {{ site.title }}
      </h1>
    </div>
  </div>
</header>

<div class="container mt-4">
  <div class="row justify-content-center">
    <main class="card-columns py-md-3">
      {% for post in paginator.posts %}
      <div class="card d-inline-block mx-1">
        <a class="card-link" href="{{ post.url | relative_url}}"></a>
        {% if post.image %}
        <img class="card-img-top" src="{{ post.image | relative_url }}" aria-hidden="true">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{ post.title }}</h4>
          <p class="card-text">{{ post.excerpt | strip_html | normalize_whitespace | truncate: 60 | escape }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            {{ post.date | date: "%b %-d" }}
            {%if post.read_time %} &middot; {% include read-time.html html=content %} {% endif %}
            {% if site.disqus_shortname and post.comments %}
            &middot; <a href="{{ post.url | absolute_url }}#disqus_thread">0 Comments</a>
            {% endif %}
          </small>
        </div>
      </div>
      {% endfor %}
    </main>
  </div>
</div>

{% include paginate.html %}

{% include subscribe.html %}

<div class="container">
  <div class="row justify-content-center">
    <section class="col-12 col-lg-8">
      {% include mini-footer.html %}
    </section>
  </div>
</div>
