<div class="container my-3">
  <div class="row align-items-center justify-content-center">
      {% if site.author.picture %}
      <a href="{{ "/about" | relative_url }}">
        <img width="64" height="64" src="{{ site.author.picture | relative_url }}" alt="{{ site.author.name }}" class="rounded-circle img-fluid hidden-sm-down">
      </a>
      {% else %}
      <i class="fa fa-user-circle-o fa-4x image-fluid hidden-sm-down" aria-hidden="true"></i>
      {% endif %}
    <div class="col pr-0">
      <p class="m-0">
        <small>
          Hello world, I'm <a href="{{ "/about" | relative_url }}">{{ site.author.name }}</a>. A techno explorer of the digital age.</a> Welcome to my blog where you'll discover articles about technology, and learn about the projects I'm working on.
        </small>
      </p>
    </div>
  </div>
</div>
