<div class="container">
  <div class="row align-items-center justify-content-center">
    <p>
      <a class="btn btn-outline-dark" href="#" role="button">
        <i class="fa fa-github" aria-hidden="true"></i>
        Follow
      </a>
      <a class="btn btn-outline-primary" href="#" role="button">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a class="btn btn-outline-danger" href="#" role="button">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a>
    </p>
  </div>
  <div class="row align-items-center justify-content-center">
      {% if site.author.picture %}
      <a href="{{ "/about" | relative_url }}">
        <img width="64" height="64" src="{{ site.author.picture }}" alt="{{ site.author.name }}" class="rounded-circle img-fluid hidden-sm-down">
      </a>
      {% else %}
      <i class="fa fa-user-circle-o fa-4x image-fluid hidden-sm-down" aria-hidden="true"></i>
      {% endif %}
    <div class="col">
      <p class="m-0">
        <small>
          Hello world, I'm <a href="{{ "/about" | relative_url }}">{{ site.author.name }}</a>. A techno explorer of the digital age.</a> Welcome to my blog where you'll discover articles about technology, and learn about the projects I'm working on.
        </small>
      </p>
    </div>
  </div>
</div>
