<script src="//code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="//use.fontawesome.com/e6807b252b.js"></script>
<script id="dsq-count-scr" src="//{{ disqus_shortname }}.disqus.com/count.js" async></script>
<script src="{{ "/assets/javascripts/parallax.min.js" | relative_url }}"></script>

{% if site.google_analytics %}
  {% include google-analytics.html %}
{% endif %}
{% if site.google_search %}
  {% include google-search.html %}
{% endif %}
{% if site.google_ads %}
  {% include google-ads.html %}
{% endif %}

<!-- Credit: https://bootbites.com/articles/freebie-sticky-bootstrap-navbar-scroll-bootstrap-4/ -->
<script>
  $(document).ready(function() {

    function stickyToggle(sticky, stickyWrapper, scrollElement) {
      var stickyHeight = sticky.outerHeight();
      var stickyTop = stickyWrapper.offset().top;
      //var brandIcon = $(".navbar-brand");
      if (scrollElement.scrollTop() >= stickyTop){
        stickyWrapper.height(stickyHeight);
        sticky.addClass("is-sticky");
        //brandIcon.removeClass("invisible");
      } else {
        //brandIcon.addClass("invisible");
        sticky.removeClass("is-sticky");
        stickyWrapper.height('auto');
      }
    }

    var sticky = $('nav.sticky-top');
    var stickyWrapper = $('<div>').addClass('sticky-wrapper');
    sticky.before(stickyWrapper);

    $(window).on('scroll resize', function () {
      stickyToggle(sticky, stickyWrapper, $(this));
    });

    stickyToggle(sticky, stickyWrapper, $(window));

  });
</script>
