<footer style="border-top: 1px solid rgba(0,0,0,.15);">
   <div class="jumbotron jumbotron-fluid m-0 pb-0" style="background-color: white;">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="text-hide">
            <img height="30" src="{{ "/assets/images/logo-text-techno.svg" | relative_url }}" alt="superdan">
            {{ site.title }}
          </h1>
          <p class="lead">{{ site.tagline }}</p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
          <p><strong>Follow</strong></p>
          <ul class="list-unstyled">
            {% for social in site.data.navigation.follow %}
            <li>
              <a class="btn btn-link pl-0 py-0" href="{{ social.url }}" role="button">
                <i class="fa {{ social.icon }}" aria-hidden="true"></i>
                &nbsp;{{ social.title }}
              </a>
            </li>
            {% endfor%}
            <li>
              <a class="btn btn-link pl-0 py-0" href="{{ site.feed.path | absolute_url }}" role="button">
                <i class="fa fa-rss" aria-hidden="true"></i>
                &nbsp;Feed
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <p><strong>Browse</strong></p>
          <ul class="list-unstyled">
            <li>
              <a class="btn btn-link p-0" href="{{ "/about" | relative_url }}" role="button">
                Cras justo
              </a>
            </li>
            <li>
              <a class="btn btn-link p-0" href="{{ "/about" | relative_url }}" role="button">
                Dapibus ac
              </a>
            </li>
            <li>
              <a class="btn btn-link p-0" href="{{ "/about" | relative_url }}" role="button">
                Morbi leo
              </a>
            </li>
            <li>
              <a class="btn btn-link p-0" href="{{ "/about" | relative_url }}" role="button">
                Porta ac
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <p><strong>Sitemap</strong></p>
          <ul class="list-unstyled mt-2">

            {% assign page_url = page.url | absolute_url %}
            {% assign home_url = "/" | absolute_url %}

            <li>
              <a class="btn btn-link p-0 {% if page_url == home_url %} disabled {% endif %}"
                 href="{{ home_url }}" role="button">
                Home
              </a>
            </li>

            {% for html_page in site.html_pages %}
            {% unless html_page.name == "index.html" or html_page.name == "404.html" %}
            {% assign html_page_url = html_page.url | absolute_url %}
            <li>
              <a class="btn btn-link p-0 {% if page_url == html_page_url %} disabled {% endif %}"
                 href="{{ html_page_url }}" role="button">
                {{ html_page.name | remove: ".html" | capitalize }}
              </a>
            </li>
            {% endunless %}
            {% endfor %}

          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p class="text-center">
            <small>
              <i class="fa fa-copyright" aria-hidden="true"></i> 2017 <a href="https://github.com/danrpts/" target="_blank">Daniel Peterson</a> All Rights Reserved.
              &middot;
              <a href="{{ page.url | append: "#top" | absolute_url }}">Back to top &uarr;</a>
              &middot;
              Powered by <a href="https://github.com/danrpts/technocereal" target="_blank">technocereal</a> on Jekyll.
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
