<!-- Begin MailChimp Signup Form -->

<form action="//github.us16.list-manage.com/subscribe/post?u=e40514466fe2ed7eb4018735e&amp;id=93118f9da3" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>

  <input type="email" value="" name="EMAIL" placeholder="email address" required>

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_e40514466fe2ed7eb4018735e_93118f9da3" tabindex="-1" value="">
  </div>

  <input type="submit" value="Subscribe" name="subscribe">

</form>

<!--End mc_embed_signup-->
  <form action="{{ site.mailchimp.query }}" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div class="form-group">
      <div class="input-group input-group-lg">

        <input type="email" value="" name="EMAIL" class="form-control lead" placeholder="Enter your email address ..." required>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="{{ site.mailchimp.nobot | escape }}" tabindex="-1" value="">
        </div>

        <span class="input-group-btn">
          <input class="btn btn-outline-primary" type="submit" value="Subscribe" name="subscribe">
        </span>

      </div>
      <small class="form-text text-muted text-left">I'll never share your email with anyone else.</small>
    </div>
  </form>
