
<!-- _includes/mailchimp_subscribe.html -->

{% if site.mailchimp_action and site.mailchimp_nobot %}
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <hr />
        <p class="display-4 text-center">Stay tuned</p>
        <form action="{{ site.mailchimp_action | url_escape }}" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
          <div class="form-group">
            <div class="input-group input-group">

              <input type="email" value="" name="EMAIL" class="lead form-control" placeholder="Enter your email address ..." required>

              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="{{ site.mailchimp_nobot }}" tabindex="-1" value="">
              </div>

              <span class="input-group-btn">
                <input class="btn btn-outline-success" type="submit" value="Subscribe" name="subscribe">
              </span>

            </div>
            <small class="form-text text-muted text-left">I'll never share your email with anyone else.</small>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}
