
<!-- _includes/mini-header.html -->

<ul class="nav nav-tabs">
  {% assign url = page.url %}
  <li class="nav-item">
    <a class="nav-link {% if url == '/' %} active {% endif %}" href="/">Blog</a>
  </li>
  {% assign paths = site.pages | map: "path" %}
  {% for path in paths %}
    {% assign page = site.pages | where: "path", path | first %}
    {% if page.title %}
    <li class="nav-item">
      <a class="nav-link {% if page.permalink == url %} active {% endif %}" href="{{ page.url | relative_url }}">{{ page.title | escape | capitalize }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
