<nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded mb-1" style="background-color: white; border-bottom: 1px solid rgba(0,0,0,.15);">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      :doughnut:
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 lead" type="text" placeholder="titles, tags, categories, etc.">
        <button class="btn btn-outline-success my-2 my-sm-0 lead" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
