<nav data-toggle="sticky-onscroll" class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded" style="background-color: white; border-bottom: 1px solid rgba(0,0,0,.15); top: 0em;">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/images/logo-text-small-techno.svg" | relative_url }}" width="30" height="30" alt="">
    </a>

    {% if page.id  %}
    <a type="button" class="btn btn-outline-primary align-middle" href="#">
      Share <i class="fa fa-share-alt" aria-hidden="true"></i>
    </a>
    {% endif %}

    {% if page.url | split:'page' | first == "/" }} %}
      {% if paginator.previous_page %}
      <a type="button" class="btn btn-outline-primary" href="{{ paginator.previous_page_path | relative_url }}">Previous Page</a>
      {% endif %}
      &nbsp;
      {% if paginator.next_page %}
      <a type="button" class="btn btn-outline-primary" href="{{ paginator.next_page_path | relative_url }}">Next Page</a>
      {% endif %}
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      </ul>
      <form class="form-inline my-2 my-lg-0" method="get" action="{{ "/search" | relative_url }}">
        <input class="form-control mr-sm-2" type="text" placeholder="Search anything ..." name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go!</button>
      </form>
    </div>
  </div>
</nav>
