<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light"
     data-toggle="sticky-onscroll"
     style="background-color: white !important; border-bottom: 1px solid rgba(0,0,0,.15); top: 0em;">
  <div class="container">

    <a class="navbar-brand" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/images/logo-text-small-techno.svg" | relative_url }}" width="30" height="30" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">

      <ul class="navbar-nav mr-auto">
        {% if page.id  %}
        <li class="nav-item my-2 mx-lg-1">
          <button type="button" class="btn btn-outline-primary w-100">
            More
          </button>
        </li>
        <li class="nav-item my-2 mx-lg-1">
          <button type="button" class="btn btn-outline-primary w-100" data-toggle="modal" data-target="#shareModal">
            Share
          </button>
        </li>
        {% endif %}
      </ul>

      <form class="form-inline my-2">
        <div class="form-group w-100">
          <div class="input-group w-100">
            <input class="form-control lead" type="text" placeholder="Search anything ..." name="q" aria-label="Search">
            <span class="input-group-btn">
              <button class="btn btn-outline-success" type="submit">Go!</button>
            </span>
          </div>
        </div>
      </form>

    </div>
  </div>
</nav>
