
<!-- _includes/recent.html -->

<div>
  <p><small>Recent</small></p>
  <div class="card-deck">
    {% for post in site.related_posts limit: 3 %}
      <div class="card">
        <img class="card-img-top" aria-hidden="true"
        {% if page.image %}
          height="100px"
          src="{{ page.image | prepend: "assets/images/" | relative_url }}"
        {% endif %} />
        <a class="card-link" href="{{ post.url | relative_url }}"></a>
        <div class="card-body">
          {% assign post_title_length = site.overrides.post_title_length | default: 20 %}
          <p class="card-title lead">{{ post.title | escape | truncate: post_title_length }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
