<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title display-4 w-100 text-center" id="shareModalLabel">Thanks for<br>:thumbsup: sharing! :thumbsup:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <a class="btn btn-lg" href="#" role="button">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <a class="btn btn-lg" href="#" role="button">
          <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        </a>
        <a class="btn btn-lg" href="#" role="button">
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a>
        <a class="btn btn-lg" href="#" role="button">
          <i class="fa fa-y-combinator fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="modal-footer">
        <div class="form-group w-100">
          <div class="input-group input-group-lg">
            <input type="text" id="shareLink" class="form-control lead" value="{{ page.url | absolute_url }}">
            <span class="input-group-btn">
              <button class="btn btn-secondary" id="copyButton" type="submit" data-clipboard-target="#shareLink" data-toggle="tooltip" data-placement="bottom" title="Copied!">
                <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
