<!-- /_includes/share.html -->

{% assign url = page.url | absolute_url | url_encode %}
{% assign title = page.title | url_encode %}
{% assign twitter_query = "https://twitter.com/intent/tweet?url=" | append: url | append: "&text=" | append: title %}
{% assign facebook_query = "https://facebook.com/sharer.php?u=" | append: url | append: "&t=" | append: title %}
{% assign googleplus_query = "https://plus.google.com/share?url=" | append: url %}
{% assign linkedin_query = "http://www.linkedin.com/shareArticle?mini=true&url=" | append: url | append: "&title=" | append: title %}

<ul class="list-unstyled">
  <li>
    <a class="btn btn-link" href="{{ googleplus_query }}" rel="nofollow" target="_blank" role="button">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="btn btn-link" href="{{ twitter_query }}{% if site.twitter.username %}{{ "&via=" | append: site.twitter.username }}{% endif %}" rel="nofollow" target="_blank" role="button">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="btn btn-link muted" href="{{ facebook_query }}" rel="nofollow" target="_blank" role="button">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="btn btn-link" href="{{ linkedin_query }}" rel="nofollow" target="_blank" role="button">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </li>
</ul>
