<section class="container mt-5 mb-2">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-md-9 col-lg-7 col-xl-7">
      <h4 class="text-center display-4">:zap: Stay tuned :zap:</h4>
      {% include author.html %}
      <p class="text-center lead">P.S. Don't forget to subscribe!</p>
      <div class="text-center">
        <form action="{{ mailchimp }}" method="post" target="_blank" novalidate>
          <div class="form-group">
            <div class="">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control lead" placeholder="Enter your email address ..." name="{{ mailchimp }}">
                <span class="input-group-btn">
                  <button class="btn btn-outline-primary" type="submit"><span class="lead">Subscribe</span></button>
                </span>
              </div>
            </div>
            <small id="emailHelp" class="form-text text-muted text-left">I'll never share your email with anyone else.</small>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
