---
---

// @media (max-width: 767px) {
//   .navbar .container {
//     width: 100%;
//   }
// }

.sticky-top.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.card > a.card-link {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 49px); // do not overlay footer (it has links)
  width: 100%;
  z-index: 100;
}

.card-columns {
  @media (min-width: 576px) and (max-width: 767px) {
    column-count: 2 !important;
  }
}

.card > img.card-img-top {
  filter: grey;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
  transition: all 300ms ease;
}

.card:hover > img.card-img-top {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
}

.jumbotron-bg {
  //position: fixed;
  //width: 100%;
  //height: 350px; /*same height as jumbotron */
  //top: 0;
  //left: 0;
  //z-index: -1;
   color: white;
   text-shadow: #444 0 1px 1px;
}

.sticky-sidebar {
  @supports (position: sticky) {
    position: sticky;
    top: 0rem;
    max-height: 100vh;
    overflow-y: auto;
  }
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.sticky-sidebar-left {
  order: 0;
  @extend .sticky-sidebar;
}

.sticky-sidebar-right {
  order: 2;
  @extend .sticky-sidebar;
}
