---
---

// @media (max-width: 767px) {
//   .navbar .container {
//     width: 100%;
//   }
// }

#starfield-wrapper {

  position: relative;
  display: inline-block;

  #starfield-canvas {
    position: relative;
    z-index: 1;
    width: 100%;
    background: radial-gradient(ellipse at center, #242938 25%, #030304 100%);
  }

  #starfield-header {
    color: white;
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 100%;
    font-weight: 300;
    line-height: 1.1;

    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575px) {
      top: 20%;
      font-size: 3rem;
    }

    // Small devices (landscape phones, less than 768px)
    @media (min-width: 576px) and (max-width: 767px) {
      top: 20%;
      font-size: 4rem;
    }

    // Medium devices (tablets, less than 992px)
    @media (min-width: 578px) and (max-width: 991px) {
      top: 25%;
      font-size: 5rem;
    }

    // Large devices (desktops, less than 1200px)
    @media (min-width: 992px) {
      top: 30%;
      font-size: 6rem;
    }
  }

}

.arrow_box {
	position: relative;
	background: #ffffff;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 24%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box:before {
	border-bottom-color: rgba(0, 0, 0, 0.15);
	border-width: 16px;
	margin-left: -16px;
}

.sticky-top.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.card > a.card-link {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 49px); // do not overlay footer (it has links)
  width: 100%;
  z-index: 100;
}

.card-columns {
  @media (min-width: 576px) and (max-width: 767px) {
    column-count: 2 !important;
  }
}

.card > img.card-img-top {
  filter: grey;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
  transition: all 300ms ease;
}

.card:hover > img.card-img-top {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
}

.jumbotron-bg {
  //position: fixed;
  //width: 100%;
  //height: 350px; /*same height as jumbotron */
  //top: 0;
  //left: 0;
  //z-index: -1;
   color: white;
   text-shadow: #444 0 1px 1px;
}

.sticky-sidebar {
  @supports (position: sticky) {
    position: sticky;
    top: 0rem;
    max-height: 100vh;
    overflow-y: auto;
  }
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.sticky-sidebar-left {
  order: 0;
  @extend .sticky-sidebar;
}

.sticky-sidebar-right {
  order: 2;
  @extend .sticky-sidebar;
}
