---
---

// @media (max-width: 767px) {
//   .navbar .container {
//     width: 100%;
//   }
// }

.sticky-top.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

div[data-parallax="scroll"] {
   background: transparent !important;
   .color-overlay {
      color: white;
      text-shadow: #444 0 1px 1px;
   }
}

.card > a.card-link {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 49px); // do not overlay footer (it has links)
  width: 100%;
  z-index: 100;
}

.card-columns {
  @media (min-width: 576px) and (max-width: 767px) {
    column-count: 2 !important;
  }
}

.card > img.card-img-top {
  filter: grey;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
  transition: all 300ms ease;
}

.card:hover > img.card-img-top {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
}
