---
layout: default
---

<!-- _layouts/home.html -->

<div>

  {{ content }}

  <div class="jumbotron-image jumbotron jumbotron-fluid border border-top-0 border-left-0 border-right-0">
    <header class="container">
      <h1 class="display-1 text-center">{{ site.title }}</h1>
      <p class="lead text-center">{{ site.description }}</p>
      <p class="text-center">
        <a class="github-button" href="https://github.com/danrpts" data-size="large" aria-label="Follow @danrpts on GitHub">Follow @danrpts</a>
      </p>
    </header>
  </div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <div class="d-flex">
        <span class="mr-auto">
          {% include paginator.html %}
        </span>

        <span class="ml-auto">
          <a class="btn" href="{{ "/feed.xml" | relative_url }}" role="button">
            <i class="fa fa-feed" aria-hidden="true"></i>
          </a>
        </span>
      </div>
      <hr />
    </div>
  </div>
</div>

  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card-columns">
          {% assign date_format = site.overrides.date_format | default: "%b %-d" %}
          {% for post in paginator.posts %}
          <div class="card d-inline-block">
            <a class="card-link" href="{{ post.url | relative_url}}"></a>
            {% if post.image %}
            <img class="card-img-top" src="{{ post.image | relative_url }}" aria-hidden="true">
            {% endif %}
            <div class="card-body">
              {% assign post_title_length = site.overrides.post_title_length | default: 20 %}
              {% assign post_excerpt_length = site.overrides.post_excerpt_length | default: 30 %}

              <p class="lead card-title">{{ post.title | truncate: post_title_length | escape }}</p>
              <p class="card-text">{{ post.excerpt | strip_html | normalize_whitespace | truncate: post_excerpt_length | escape }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">
                {{ post.date | date: date_format }}
                {% assign post_content = post.content | escape %}
                {% if post.read_time %} &middot; {% include read_time.html html=post_content %} {% endif %}
                {% if site.disqus_shortname and post.comments %}
                &middot; <a href="{{ post.url | absolute_url }}#disqus_thread">0 Comments</a>
                {% endif %}
              </small>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include mailchimp_subscribe.html %}

</div>
