---
layout: default
---

<!-- _layouts/page.html -->

<div>

  <div class="jumbotron-image jumbotron jumbotron-fluid border border-top-0 border-left-0 border-right-0 mb-0 mt-1">
    <header class="container">
      <h1 class="display-1 text-center text-responsive">{{ site.title }}</h1>
      <p class="lead text-center">{{ site.description }}</p>
      <p class="text-center">
        <a class="github-button" href="https://github.com/danrpts" data-size="large" aria-label="Follow @danrpts on GitHub">Follow @danrpts</a>
      </p>
    </header>
  </div>

  <div class="container">
    <div class="row justify-content-center my-3">
      <div class="col-lg-8">
        {% include mini-header.html %}
      </div>
    </div>
  </div>

  {{ content }}

</div>
