---
layout: default
---

<!-- _layouts/page.html -->

<article>

  <header class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 mt-4">
        {% assign avatar = page.avatar | default: site.avatar %}
        {% if avatar and page.avatar != false %}
        <p class="text-center">
          <img width="34% \9" src="{{ avatar | escape_url }}" alt="avatar" class="rounded-circle img-fluid img-thumbnail">
        </p>
        {%endif%}
        <h1 class="display-3 text-center">{{ page.title | escape }}</h1>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p class="text-justify">{{ content }}</p>
      </div>
    </div>
  </div>

</article>
