---
layout: default
---
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title display-4 w-100 text-center" id="shareModalLabel">Thanks for<br>:thumbsup: sharing! :thumbsup:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <a class="btn btn-lg" href="#" role="button">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <a class="btn btn-lg" href="#" role="button">
          <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        </a>
        <a class="btn btn-lg" href="#" role="button">
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a>
        <a class="btn btn-lg" href="#" role="button">
          <i class="fa fa-y-combinator fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="modal-footer">
        <div class="form-group w-100">
          <div class="input-group input-group-lg">
            <input type="text" id="shareLink" class="form-control lead" value="{{ page.url | absolute_url }}">
            <span class="input-group-btn">
              <button class="btn btn-secondary" id="copyButton" type="submit" data-clipboard-target="#shareLink" data-toggle="tooltip" data-placement="bottom" title="Copied!">
                <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid my-0"
data-parallax="scroll"
data-image-src="{{ page.image | default: "/assets/images/polys/gop.jpg" | relative_url }}">
  <div class="container">
    <h1 class="display-3">{{ page.title }}</h1>
    {% assign words = content | number_of_words %}
    {% if words < 360 %}
      {% assign time = 1 %}
    {% else %}
      {% assign time = words | divided_by: 180 %}
    {% endif %}
    <p class="lead">
      {{ page.date | date: "%b %-d" }}
      &middot; {{ time }} min read
      {% if site.disqus_shortname and page.comments %}
      &middot; <a href="{{ post.url | absolute_url }}#disqus_thread">0 Comments</a>
      {% endif %}
    </p>
  </div>
</div>

{% include navbar.html %}

<section class="container w-100" style="background-color: white;">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-md-9 col-lg-8 col-xl-7">
      <p>{{ content }}</p>
      <div class="clearfix">
        {% if page.previous.url %}
        <span class="float-left">
          {% for tag in page.tags %}
            <a href="#" class="badge badge-default">{{ tag }}</a>
          {% endfor %}
        </span>
        {% endif %}
        {% if page.next.url %}
        <a class="btn float-right p-0" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
      </div>
      <hr/>
      {% include author.html %}
      <hr/>
      {% include comments.html %}
    </div>
  </div>
</secion>

{% include footer.html %}
