---
layout: default
---
<!-- /_layouts/post.html -->


<header class="container-fluid" style="border-bottom: 1px solid rgba(0,0,0,.15);">
  <div class="row justify-content-center">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-3">
      <h1 class="text-hide">
        <a href="{{ "/" | absolute_url }}">
          <img src="{{ "/assets/images/logo-text-techno.svg" | relative_url }}" class="img-fluid" alt="..." style="width: 100% \9;">
        </a>
        {{ site.title }}
      </h1>
    </div>
  </div>
</header>

<section class="container">
  <div class="row">
    <aside class="d-none d-lg-block col-lg-2 sticky-sidebar-left" stlye="margin-top: 30%;">
      <div class="text-center" id="sticky-sidebar-share">
        <small>Share</small>
        {% include share.html %}
      </div>
    </aside>

    <main class="col-12 col-lg-8 py-md-3 text-justify">
      <div class="container my-3">
        <div class="row align-items-center justify-content-center">
            {% if site.author.picture %}
            <a href="{{ "/about" | relative_url }}">
              <img width="64" height="64" src="{{ site.author.picture }}" alt="{{ site.author.name }}" class="rounded-circle img-fluid hidden-sm-down">
            </a>
            {% else %}
            <i class="fa fa-user-circle-o fa-4x image-fluid hidden-sm-down" aria-hidden="true"></i>
            {% endif %}
          <div class="col pr-0">
            <p class="m-0">
              <small>{{ site.author.name }}</small>
            </p>
            <p class="m-0">
              <small>
                {{ page.date | date: "%b %-d" }}
                {%if page.read_time %} &middot; {% include read-time.html html=content %} {% endif %}
                {%if site.disqus_shortname and page.comments %} &middot; <a href="{{ post.url | absolute_url }}#disqus_thread">0 Comments</a> {% endif %}
              </small>
            </p>
          </div>
          <a type="button" class="btn btn-outline-dark" href="#">
            <i class="fa fa-github" aria-hidden="true"></i>
            Follow
          </a>
        </div>
      </div>
      <h1 class="my-4">{{ page.title }}</h1>
      <div class="jumbotron" style="background: url({{ page.image | default: site.teaser | relative_url }}) no-repeat center center;"></div>
      <div id="post-content">
        {{ content }}
      </div>
      <p>
        {% for tag in page.tags %}
          <a class="btn btn-light" href="{{ "/browse/" | append: tag | absolute_url }}">{{ tag }}</a>
        {% endfor %}
      </p>
      <hr>
    </main>

  </div>
</section>

<section class="container">
  <div class="row justify-content-center">
    <div class="col-11 col-lg-7">
    {% include author.html %}
    </div>
    <div class="col-11 col-lg-7 mt-3 p-0">
      <a type="button" class="btn btn-outline-dark" href="#">
        <i class="fa fa-github" aria-hidden="true"></i>
        Follow
      </a>
      <a type="button" class="btn btn-outline-primary" href="#">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a type="button" class="btn btn-outline-danger" href="#">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-12">
      {% include recent.html %}
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      {% include comments.html %}
      {% include mini-footer.html %}
    </div>
  </div>
</section>
